.cart-purchases__item {
    display: flex;
    background-color: #ffffff;
    filter: drop-shadow(8px 8px 21px rgba(0, 0, 0, 0.13));
    position: relative;
}

.cart-purchases__item:not(:first-child) {
    margin-top: 32px;
    /*обратить внимание*/
}

.cart-purchases__image-wrap {
    width: 144px;
    height: 188px;
}

.cart-purchases__image {
    width: 100%;
    height: 100%;
}

.cart-purchases__featured {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 53px 38px 15px;
    box-sizing: border-box;
}

.cart-purchases__item-name {
    @include style-reset;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #222222;
    flex-grow: 1;
}

.cart-purchases__item-description {
    @include style-reset;
    font-size: 14px;
    line-height: 17px;
    color: #575757;
    margin-bottom: 5px;
    text-transform: none;
}

.cart-purchases__item-price {
    color: #EF5B70;
}

.cart-purchases__item-description-text {
    color: #6F6E6E;
}

.cart-purchases__item-input {
    width: 24px;
    height: 15px;
    border: 1px solid #EAEAEA;
    text-align: center;
    color: #656565;
    font-size: 10px;
    line-height: 12px;
    margin-left: 15px;
}

.cart-purchases__close-button {
    position: absolute;
    top: 17px;
    right: 12px;
}

.cart-purchases__close-button__image {
    width: 100%;
}

.cart-purchases__buttons-wrap {
    display: flex;
    justify-content: space-between;
    min-width: 358px;
    padding-top: 30px;
}

.cart-purchases__button {
    width: 175px;
    height: 33px;
    background: none;
    border: 1px solid #A4A4A4;
    font-size: 12px;
    line-height: 14px;
    font-family: inherit;
}

@media(min-width: $tablet-width) {
    .cart-purchases__image-wrap {
        width: 262px;
        height: 306px;
    }

    .cart-purchases__featured {
        padding: 22px 179px 62px 31px;
    }

    .cart-purchases__item-name {
        font-size: 24px;
        line-height: 28px;
        font-weight: 400;
    }

    .cart-purchases__item-description {
        font-size: 22px;
        line-height: 26px;
    }

    .cart-purchases__item-input {
        width: 44px;
        height: 24px;
        font-size: 18px;
        line-height: 21px;
    }

    .cart-purchases__close-button {
        top: 28px;
        right: 24px;
    }

    .cart-purchases__buttons-wrap {
        min-width: 508px;
        padding-top: 62px;
        padding-bottom: 64px;
    }

    .cart-purchases__button {
        width: 235px;
        height: 50px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
    }
}

@media(min-width: $desktop-width) {
    .shopping-cart__purchases {
        min-width: 652px;
    }

    .cart-purchases__featured {
        padding-right: 97px;
    }

    .cart-purchases__buttons-wrap {
        min-width: 100%;
        padding-bottom: 0;
    }
}