.featured {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 96px;
}

.featured__intro-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: capitalize;
}

.featured__intro-description {
    color: #9F9F9F;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: none;
    margin-bottom: 65px;
}

.featured__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured__item {
    z-index: -2;
}

.featured__image-block {
    position: relative;
}

.featured__image {
    width: 100%;
    display: block;
}

.featured__item:hover .featured__image--hover {
    display: flex;
}

.featured__image--hover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    justify-content: center;
    align-items: center;
}

.featured__image-button {
    background: none;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    font-size: 14px;
    font-family: inherit;
}

.featured__image-button img {
    width: 26px;
    height: 24px;
    margin-right: 11px;
}

.featured__description {
    padding: 23px 16px 20px;
}

.featured__description-title {
    font-size: 13px;
    line-height: 16px;
}

.featured__description-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    text-transform: none;
}

.featured__price {
    color: #F16D7F;
}

.featured__button {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.featured__button__link {
    text-decoration: none;
    text-transform: capitalize;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    width: 213px;
    font-size: 16px;
    line-height: 19px;
}

@media(min-width: $tablet-width) {

    .featured__item {
        width: 50%;
        padding: 8px;
    }
}

@media (min-width: $desktop-width) {

    .featured__item {
        width: 33%;
    }
}