/* Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* Variables */

$tablet-width: 768px;
$desktop-width: 1200px;

/* Mixins */

@mixin style-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* CSS */

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: Lato, sans-serif;
    margin: 0 auto;
    min-width: 320px;
    text-transform: uppercase;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.header {
    background-color: #222222;
    padding: 18px 16px;
    height: 74px;
    box-sizing: border-box;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        @include style-reset();
    }
}

.logo-icon {
    margin-right: 41px;
}

.main-nav__menu {
    width: 32px;
    height: 23px;
    background-color: #222222;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    padding: 0;
    right: 16px;
    top: 25px;
}

.cart-icon {
    position: relative;
}

.cart-number {
    display: inline-block;
    width: 19px;
    height: 19px;
    color: white;
    background: #F16D7F;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    right: -8px;
    top: -10px;
    font-size: 12px;
    line-height: 17px;
}

.registration-img,
.cart-img,
.cart-number,
.brand__image,
.brand__menu {
    display: none;
}

.brand {
    min-height: 363px;
    background-color: #F1E4E6;
}

.brand__promo {
    min-height: inherit;
}

.brand__title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
}

.brand__content {
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
}

.brand__header {
    @include style-reset();

    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
}

.brand__description {
    @include style-reset();

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.brand__description-strong {
    color: #F16D7F;
}

.offers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 247px) 111px;
    row-gap: 32px;
    padding: 64px 16px;
}

.offers__item {
    position: relative;
}

.offers__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.offers__content {
    position: absolute;
    color: #ffffff;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.offers__item-last {
    position: relative;
}

.offers__image-last {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 111px;
    position: absolute;
}

.offers__description {
    @include style-reset();
}

.offers__title {
    @include style-reset();
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}

.featured {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 96px;
}

.featured__intro-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: capitalize;
}

.featured__intro-description {
    color: #9F9F9F;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: none;
    margin-bottom: 65px;
}

.featured__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured__image-block {
    position: relative;
}

.featured__image {
    width: 100%;
    display: block;
}

.featured__item:hover .featured__image--hover {
    display: flex;
}

.featured__image--hover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    justify-content: center;
    align-items: center;
}

.featured__image-button {
    background: none;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    font-size: 14px;
    font-family: inherit;
}

.featured__image-button img {
    width: 26px;
    height: 24px;
    margin-right: 11px;
}

.featured__description {
    padding: 23px 16px 20px;
}

.featured__description-title {
    font-size: 13px;
    line-height: 16px;
}

.featured__description-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    text-transform: none;
}

.featured__price {
    color: #F16D7F;
}

.featured__button {
    text-decoration: none;
    text-transform: capitalize;
    color: #F26376;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    margin: 41px auto 96px;
    width: 213px;
    font-size: 16px;
    line-height: 19px;
}

.services {
    background-color: #222224;
    padding: 48px 14px 35px;
    box-sizing: border-box;
}

.services__list {
    display: flex;
    flex-direction: column;
}

.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 46px;
}

.services__title,
.services__description {
    color: #FBFBFB;
    text-transform: capitalize;
}

.services__title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 27px;
    margin-bottom: 15px;
}

.services__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 340px;
    text-transform: none;
}

.subscribe {
    background: rgba(244, 244, 244, 0.7) url(../img/subscribe-background.jpg) no-repeat;
    background-size: cover;
    padding: 54px 14px 109px;
}

.subscribe__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe__intro-text {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
    max-width: 330px;
}

.subscribe__oblique {
    font-style: oblique;
}

.subscribe__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.subscribe__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    @include style-reset();
}

.subscribe__text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 22px;
}

.subscribe__form {
    display: flex;
    justify-content: center;
    height: 47px;
}

.subscribe__input {
    width: 199px;
    height: inherit;
    background-color: #E1E1E1;
    border: none;
    padding: 6px 21px;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.subscribe__input::-webkit-input-placeholder {
    color: #222224;
    opacity: 0.7;
    font-family: inherit;
}

.subscribe__input::-moz-placeholder {
    color: #222224;
    opacity: 0.7;
    font-family: inherit;
}

.subscribe__input::-ms-input-placeholder {
    color: #222224;
    opacity: 0.7;
    font-family: inherit;
}

.subscribe__input::-moz-placeholder {
    color: #222224;
    opacity: 0.7;
    font-family: inherit;
}

.subscribe__input-button {
    @include style-reset();
    height: inherit;
    border: none;
    color: #ffffff;
    font-family: inherit;
    font-size: 14px;
    line-height: 17px;
    background-color: #F16D7F;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 17px;
}

.footer {
    background-color: #222224;
    padding: 43px 20px 10px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.social__list {
    @include style-reset();
    display: flex;
    margin-bottom: 40px;
}

.social__item-link {
    background-color: #ffffff;
    color: #222222;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.social__item:not(:last-child) {
    margin-right: 7px;
}

.social__item-link:hover {
    background-color: #F16D7F;
    color: #ffffff;
}

.footer__copyright-text {
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
}

@media(min-width: $tablet-width) {
    .header {
        padding: 18px 32px;
    }

    .registration-img,
    .cart-img,
    .cart-number {
        display: inline;
    }

    .registration-icon {
        margin: 0 33px;
    }

    .brand__promo {
        display: flex;
    }

    .brand__image {
        display: block;
        width: 50%;
    }

    .brand__image-man {
        display: block;
        width: 100%;
        min-width: inherit;
    }

    .brand__title {
        width: 50%;
    }

    .brand__header {
        font-size: 44px;
        line-height: 52px;
    }

    .brand__description {
        font-size: 24px;
        line-height: 29px;
    }

    .offers {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 167px 116px;
        gap: 20px;
    }

    .offers__item-last {
        grid-column: 1/-1;
    }

    .featured__item {
        width: 50%;
        padding: 8px;
    }

    .subscribe__intro-text {
        font-size: 20px;
        line-height: 24px;
        max-width: 360px;
    }

    .social {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .social__list {
        margin-bottom: 0;
    }
}

@media (min-width: $desktop-width) {

    .main-nav,
    .container {
        margin: 0 auto;
        width: 1140px;
    }

    .brand__title {
        justify-content: start;
    }

    .brand__content {
        margin-left: 64px;
    }

    .brand__header {
        font-size: 48px;
        line-height: 58px;
    }

    .brand__description {
        font-size: 32px;
        line-height: 39px;
    }

    .brand__menu {
        display: block;
    }

    .featured__item {
        width: 33%;
    }

    .services__list {
        flex-direction: row;
        justify-content: space-around;
    }

    .subscribe__list {
        flex-direction: row;
        justify-content: space-around;
    }
}