/* Styles */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/* Variables */
/* Mixins */
/* CSS */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  min-width: 320px;
  text-transform: uppercase;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header {
  background-color: #222222;
  padding: 18px 16px;
  height: 74px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo-icon {
  margin-right: 41px;
}

.main-nav__menu {
  width: 32px;
  height: 23px;
  background-color: #222222;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  padding: 0;
  right: 16px;
  top: 25px;
}

.cart-icon {
  position: relative;
}

.cart-number {
  display: inline-block;
  width: 19px;
  height: 19px;
  color: white;
  background: #F16D7F;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  right: -8px;
  top: -10px;
  font-size: 12px;
  line-height: 17px;
}

.registration-img,
.cart-img,
.cart-number,
.brand__image,
.brand__menu {
  display: none;
}

.brand {
  min-height: 363px;
  background-color: #F1E4E6;
}

.brand__promo {
  min-height: inherit;
}

.brand__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: inherit;
}

.brand__content {
  border-left: 12px solid #F16D7F;
  padding-left: 15px;
}

.brand__header {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 38px;
  line-height: 46px;
}

.brand__description {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.brand__description-strong {
  color: #F16D7F;
}

.offers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (247px)[3] 111px;
      grid-template-rows: repeat(3, 247px) 111px;
  row-gap: 32px;
  padding: 64px 16px;
}

.offers__item {
  position: relative;
}

.offers__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.offers__content {
  position: absolute;
  color: #ffffff;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.offers__item-last {
  position: relative;
}

.offers__image-last {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 111px;
  position: absolute;
}

.offers__description {
  list-style: none;
  margin: 0;
  padding: 0;
}

.offers__title {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.featured {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 96px;
}

.featured__intro-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: capitalize;
}

.featured__intro-description {
  color: #9F9F9F;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 65px;
}

.featured__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured__image-block {
  position: relative;
}

.featured__image {
  width: 100%;
  display: block;
}

.featured__item:hover .featured__image--hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured__image--hover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(58, 56, 56, 0.86);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__image-button {
  background: none;
  border: 1px solid white;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 14px;
  font-size: 14px;
  font-family: inherit;
}

.featured__image-button img {
  width: 26px;
  height: 24px;
  margin-right: 11px;
}

.featured__description {
  padding: 23px 16px 20px;
}

.featured__description-title {
  font-size: 13px;
  line-height: 16px;
}

.featured__description-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  text-transform: capitalize;
}

.featured__price {
  color: #F16D7F;
}

.featured__button {
  text-decoration: none;
  text-transform: capitalize;
  color: #F26376;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FF6A6A;
  padding: 14px 38px;
  margin: 41px auto 96px;
  width: 211px;
  font-size: 16px;
  line-height: 19px;
}

@media (min-width: 768px) {
  .header {
    padding: 18px 32px;
  }
  .registration-img,
  .cart-img,
  .cart-number {
    display: inline;
  }
  .registration-icon {
    margin: 0 33px;
  }
  .brand__promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .brand__image {
    display: block;
    width: 50%;
  }
  .brand__image-man {
    display: block;
    width: 100%;
    min-width: inherit;
  }
  .brand__title {
    width: 50%;
  }
  .brand__header {
    font-size: 44px;
    line-height: 52px;
  }
  .brand__description {
    font-size: 24px;
    line-height: 29px;
  }
  .offers {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 167px 116px;
        grid-template-rows: 167px 116px;
    gap: 20px;
  }
  .offers__item-last {
    grid-column: 1/-1;
  }
  .featured__item {
    width: 50%;
    padding: 8px;
  }
}

@media (min-width: 1200px) {
  .main-nav,
  .container {
    margin: 0 auto;
    width: 1140px;
  }
  .brand__title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .brand__content {
    margin-left: 64px;
  }
  .brand__header {
    font-size: 48px;
    line-height: 58px;
  }
  .brand__description {
    font-size: 32px;
    line-height: 39px;
  }
  .brand__menu {
    display: block;
  }
  .featured__item {
    width: 33%;
  }
}
/*# sourceMappingURL=style.css.map */