/* Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* Variables */

$tablet-width: 768px;
$desktop-width: 1200px;

/* Mixins */

@mixin style-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* CSS */

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    min-width: 320px;
    text-transform: uppercase;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.header {
    background-color: #222222;
    padding: 18px 16px;
    height: 74px;
    box-sizing: border-box;
}

.header_wrapper {
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        @include style-reset();
    }
}

.logo-icon {
    margin-right: 41px;
}

.main-nav__menu {
    width: 32px;
    height: 23px;
    background-color: #222222;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    padding: 0;
    right: 16px;
    top: 25px;
}

.cart-icon {
    position: relative;
}

.cart-number {
    display: inline-block;
    width: 19px;
    height: 19px;
    color: white;
    background: #F16D7F;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    right: -8px;
    top: -10px;
    font-size: 12px;
    line-height: 17px;
}

.registration-img,
.cart-img,
.cart-number,
.brand_image,
.brand_menu {
    display: none;
}

.brand {
    min-height: 363px;
    background-color: #F1E4E6;
}

.brand_promo {
    min-height: inherit;
}

.brand_title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
}

.brand_content {
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
}

.brand_header {
    @include style-reset;

    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
}

.brand_description {
    @include style-reset;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.brand_description-strong {
    color: #F16D7F;
}

@media (min-width: $tablet-width) {
    .header {
        padding: 18px 32px;
    }

    .registration-img,
    .cart-img,
    .cart-number {
        display: inline;
    }

    .registration-icon {
        margin: 0 33px;
    }

    .brand_promo {
        display: flex;
    }

    .brand_image {
        display: block;
        width: 50%;
    }

    .brand_image-man {
        display: block;
        width: 100%;
        min-width: inherit;
    }

    .brand_title {
        width: 50%;
    }

    .brand_header {
        font-size: 44px;
        line-height: 52px;
    }

    .brand_description {
        font-size: 24px;
        line-height: 29px;
    }
}

@media (min-width: $desktop-width) {
    .main-nav {
        margin: 0 auto;
        width: 1140px;
    }

    .brand_title {
        justify-content: start;
    }

    .brand_content {
        margin-left: 64px;
    }

    .brand_header {
        font-size: 48px;
        line-height: 58px;
    }

    .brand_description {
        font-size: 32px;
        line-height: 39px;
    }

    .brand_menu {
        display: block;
    }
}